//products
.l-products {
  padding-top: 81px;
  @media screen and (max-width: 425px) {
		padding-top: 41px;
	}
}

.l-products__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.l-products__header-title {
}

.l-products__header-subtitle {
  max-width: 700px;
  text-align: center;
  @media screen and (max-width: 425px) {
    max-width: unset;
		text-align: left;
	}
}

.l-products__nav {
  margin-top: 70px;
  padding: 20px 70px;
  border-bottom: 1px solid #ECECEC;
  @media screen and (max-width: 425px) {
		margin-top: 37px;
    padding: 14px 0;

    overflow: auto;
	}
}

.l-products__nav-wrapper {
  ul {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    @media screen and (max-width: 425px) {
      gap: 25px;
    }
  }
  a {
    transition: .2s;
    &:hover {
      color: #5e5e5e;
    }
  }
}

.l-products__content {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  @media screen and (max-width: 425px) {
    margin-top: 41px;
    gap: 35px;
  }
}

//advice
.l-advice {

}

.l-advice__content {
  padding-top: 96px;
  @media screen and (max-width: 425px) {
    padding-top: 55px;
  }
}

.l-advice__form {
  border-radius: 10px;
  background: linear-gradient(90deg, #5DB9ED 4.2%, #407BC1 100%);
}

.l-advice__form-wrapper {
  display: flex;
  justify-content: center;
  padding: 68px 0 45px 0;
  @media screen and (max-width: 425px) {
    padding: 40px 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.l-advice__form-title {

}

.l-advice__form-subtitle {
  margin-top: 10px;
  @media screen and (max-width: 425px) {
		text-align: center;
	}
}

.l-advice__form-input {
  margin-top: 30px;
  .input {
    display: flex;
    width: 441px;
    border: 2px solid transparent;
    &:focus {
      border: 2px solid #4380c5;
    }
    @media screen and (max-width: 425px) {
      width: auto;
    }
  }
}

.l-advice__form-action {
  display: flex;
  margin-top: 30px;
}

//blog
.l-blog {

}

.l-blog__content {
  padding-top: 133px;
  @media screen and (max-width: 425px) {
		padding-top: 55px;
	}
}

.l-blog__header {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 532px;
  margin: 0 auto;
}

.l-blog__slider {
  margin-top: 90px;
  position: relative;
  @media screen and (max-width: 425px) {
		margin-top: 35px;
	}
}

.l-blog__card {
  display: flex;
  flex-direction: column;
}

.l-blog__card-image {
  width: 400px;
  height: 378px;
  border-radius: 5px;
  overflow: hidden;
  @media screen and (max-width: 425px) {
		width: 100%;
    height: 378px;
	}
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.l-blog__card-name {
  margin-top: 30px;
}

.l-blog__card-description {
  margin-top: 10px;
  @media screen and (max-width: 425px) {
    margin-top: 20px;
  }
}

.l-blog__card-swiper-nav {

}

.l-blog__card-swiper-prev ,.l-blog__card-swiper-next {
  position: absolute;
  top: calc(200px - 22px);
  z-index: 3;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg {
    width: 19px;
    height: 19px;
  }
  &.swiper-button-disabled {
    opacity: .4;
  }
  @media screen and (max-width: 425px) {
    width: 34px;
    height: 34px;
    top: unset;
    bottom: -54px;
  }
}

.l-blog__card-swiper-prev {
  left: -22px;
  @media screen and (max-width: 425px) {
    left: 0;
  }
  svg {
    transform: rotate(180deg);
  }
}

.l-blog__card-swiper-next {
  right: -22px;
  @media screen and (max-width: 425px) {
    left: 44px;
  }
}

//gray card
.l-gray-card {

}

.l-gray-card__content {
  padding-top: 76px;
  @media screen and (max-width: 425px) {
    padding-top: 90px;
  }
}

.l-gray-card__form {
  border-radius: 10px;
  background: #F5F5F7;
}

.l-gray-card__wrapper {
  padding: 25px;
  display: flex;
  gap: 70px;
  @media screen and (max-width: 425px) {
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 25px 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    @media screen and (max-width: 425px) {
      align-items: center;
    }
  }
}

.l-gray-card__form-image {
  width: 541px;
  height: 361px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  @media screen and (max-width: 425px) {
    width: 100%;
    height: auto;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.l-gray-card__form-title {
  @media screen and (max-width: 425px) {
    text-align: center;
  }
}

.l-gray-card__form-subtitle {
  margin-top: 20px;
  max-width: 470px;
  @media screen and (max-width: 425px) {
    margin-top: 10px;
    text-align: center;
  }
}

.l-gray-card__form-input {
  margin-top: 30px;
  @media screen and (max-width: 425px) {
    margin-top: 20px;
  }
  .input {
    width: 441px;
    border: 2px solid transparent;
    &:focus {
      border: 2px solid #328bdc;
    }
    @media screen and (max-width: 425px) {
      width: auto;
    }
  }
}

.l-gray-card__form-action {
  margin-top: 30px;
  @media screen and (max-width: 425px) {
    margin-top: 20px;
  }
}


//complex
.l-complex {

}

.l-complex__content {
  padding-top: 100px;
  @media screen and (max-width: 425px) {
    padding-top: 55px;
  }
}

.l-complex__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 425px) {
    align-items: flex-start;
  }
}

.l-complex__header-title {

}

.l-complex__header-subtitle {
  max-width: 570px;
  margin-top: 20px;
  text-align: center;
  @media screen and (max-width: 425px) {
    text-align: left;
  }
}

.l-complex__header-action {
  margin-top: 30px;
}

.l-complex__body {
  margin-top: 41px;
  position: relative;
  @media screen and (max-width: 425px) {
    margin-top: 35px;
  }
}

.l-complex__body-img {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 731px;
  @media screen and (max-width: 425px) {
    height: 372px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.l-complex__body-dots {
  position: absolute;
  top: 0;
  z-index: 3;
  @media screen and (max-width: 425px) {
    display: none;
  }
}

.l-complex__body-dot {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 50%;
  transition: .3s;
  position: absolute;
  z-index: 3;

  

  a:not(.btn) {
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-radius: 100%;
      background: #FFF;
      transition: ease 0.3s;
      opacity: .3;
      z-index: 2;
      animation: pulse 4s infinite;
    }
  }
  &:hover {
    a:not(.btn)::after {
      width: 44px;
      height: 44px;
    }
  }
  &.active a:not(.btn) {
    &::after {
      width: 44px;
      height: 44px;
    }
  }
}

.l-complex__body-dot.stop {
  a:not(.btn){
    &::after {
      animation: none;
    }
  }
}

.l-complex__body-dot.active {
  .l-complex__body-hidden {
    display: flex;
  }
}

.l-complex__body-hidden {
  display: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.70);
  backdrop-filter: blur(5px);
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.l-complex__body-hidden-title {

}

.l-complex__body-hidden-action {
  margin-right: 34px;
}



@keyframes pulse {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 22px;
    height: 22px;
  }
  50% {
    width: 44px;
    height: 44px;
  }
  75% {
    width: 22px;
    height: 22px;
  }
  100% {
    width: 0;
    height: 0;
  }
}

//solutions
.l-popular-solutions {
}

.l-popular-solutions__content {
  padding-top: 116px;
  @media screen and (max-width: 425px) {
    padding-top: 55px;
  }
}

.l-popular-solutions__header {
  display: flex;
  justify-content: center;
}

.l-popular-solutions__header-title {
  max-width: 380px;
  text-align: center;
}

.l-popular-solutions__tabs {
  margin-top: 50px;
  @media screen and (max-width: 425px) {
    margin-top: 35px;
  }
}

.l-popular-solutions__tabs-wrapper {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 425px) {
    overflow: auto;
  }
  ul {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ECECEC;
    @media screen and (max-width: 425px) {
      width: 100%;
      justify-content: flex-start;
      border: none;
    }
  }
  li {
    border-radius: 10px;
    transition: .3s;
    &.active {
      background: #000;
      a {
        color: #FFFFFF;
      }
    }
    &:hover {
      background: #000;
      a {
        color: #FFFFFF;
      }
    }
  }
  a {
    display: flex;
    padding: 10px 20px;
    transition: .3s;
  }
}

.l-popular-solutions__cards {
  margin-top: 60px;
  @media screen and (max-width: 425px) {
    margin-top: 35px;
  }
}

.l-popular-solutions__cards-tab {
  display: none;
  &.active {
    display: block;
  }
}

.l-popular-solutions__cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media screen and (max-width: 425px) {
    gap: 0;
  }
}

.l-popular-solutions__item {
  padding: 14px 30px;
  border-radius: 5px;
  background: #F7F7F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 425px) {
    padding: 14px 20px;
  }
}

.l-popular-solutions__item-image {
  width: 335px;
  height: 252px;
  border-radius: 5px;
  overflow: hidden;
  @media screen and (max-width: 425px) {
    width: 304px;
    height: 304px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.l-popular-solutions__item-name {
  margin-top: 20px;
}

.l-popular-solutions__item-small {
  width: 100%;
  margin-top: 20px;
}

.l-popular-solutions__item-descr {
  margin-top: 10px;
}

.l-popular-solutions__item-price {
  width: 100%;
  margin-top: 10px;
}

.l-popular-solutions__item-action {
  width: 100%;
  margin-top: 20px;
  display: flex;
}


//cases 
.l-cases {

}

.l-cases__content {
  padding-top: 43px;
}

.l-cases__swiper {
  border-radius: 10px;
  background: #F5F5F7;
  padding: 96px 32px 57px 54px;
  position: relative;
  @media screen and (max-width: 425px) {
    padding: 40px 20px 102px 20px;
  }
  .swiper-slide {
    opacity: 0;
    &.swiper-slide-active {
      opacity: 1;
    }
  }
}

.l-cases__item {

}

.l-cases__wrapper {
  display: flex;
  gap: 60px;
  @media screen and (max-width: 425px) {
    flex-direction: column;
    gap: 30px;
  }
}

.l-cases__item-body {
  width: 100%;
}

.l-cases__item-label {
  p {
    text-transform: uppercase;
  }
}

.l-cases__item-name {
  margin-top: 25px;
  @media screen and (max-width: 425px) {
    height: 130px;
    margin-top: 20px;
  }
}

.l-cases__item-description {
  margin-top: 20px;
  max-width: 400px;
  @media screen and (max-width: 425px) {
    max-width: unset;
  }
}

.l-cases__item-action {
  display: flex;
  margin-top: 25px;
  @media screen and (max-width: 425px) {
    margin-top: 20px;
  }
}

.l-cases__item-img {
  width: 590px;
  height: 577px;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;
  @media screen and (max-width: 425px) {
    width: 100%;
    height: 323px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.l-cases__card-nav {
  position: absolute;
  bottom: 57px;
  left: 54px;
  display: flex;
  align-items: center;
  gap: 17px;
  z-index: 10;
  @media screen and (max-width: 425px) {
    left: 20px;
    bottom: 40px;
  }
}

.l-cases__card-swiper-prev, .l-cases__card-swiper-next {
  width: 32px;
  height: 32px;
  border: 1px solid #DDD;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  svg {
    width: 16px;
    height: 16px;
    stroke: #000;
    stroke-width: 2px;
    stroke-linecap: "round";
    stroke-linejoin: "round";
    transition: .2s;
  }
  &:hover {
    background: #000;
    border-color: #000;
    svg {
      stroke: #FFF;
    }
  }
}

.l-cases__card-swiper-play {
  width: 32px;
  height: 32px;
  border: 1px solid #DDD;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  svg {
    width: 10px;
    height: 10px;
    stroke: #000;
    stroke-width: 3px;
    transition: .2s;
  }
  &:hover {
    background: #000;
    border-color: #000;
    svg {
      stroke: #FFF;
    }
  }
  svg.play-svg {
    display: none;
  }
  &.active {
    background: #000;
    border-color: #000;
    svg.pause-svg {
      display: none;
    }
    svg.play-svg {
      display: block;
    }
  }
}

.l-cases__card-swiper-prev {

}
.l-cases__card-swiper-next {
  svg {
    transform: rotate(180deg);
  }
}

//contacts
.l-contacts {
  background: #F5F5F7;
  margin-top: 73px;
  @media screen and (max-width: 425px) {
    margin-top: 33px;
  }
}

.l-contacts__content {
  padding-top: 63px;
  @media screen and (max-width: 425px) {
    padding-top: 60px;
  }
}

.l-contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.l-contacts__head {
  display: flex;
  flex-direction: column;
}

.l-contacts__head-title {

}

.l-contacts__head-row {
  margin-top: 30px;
  display: flex;
  @media screen and (max-width: 425px) {
    margin-top: 10px;
    flex-direction: column;
    gap: 20px;
  }
}

.l-contacts__head-subtitle {
  max-width: 448px;
}

.l-contacts__head-tel {
  margin-left: 33px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  @media screen and (max-width: 425px) {
    margin-left: 0;
  }
}

.l-contacts__head-worktime {
  margin-left: 81px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  @media screen and (max-width: 425px) {
    margin-left: 0;
  }
}

.l-contacts__slider {
  margin-top: 68px;
  @media screen and (max-width: 425px) {
    margin-top: 60px;
  }
}

.l-contacts__slider-title {

}

.l-contacts__slider-subtitle {
  margin-top: 3px;
  @media screen and (max-width: 425px) {
    max-width: 75%;
  }
}

.l-contacts__slider-swiper {
  margin-top: 44px;
  position: relative;
  @media screen and (max-width: 425px) {
    margin-top: 20px;
  }
  .swiper-slide {
    width: auto;
  }
  .l-blog__card-swiper-next, .l-blog__card-swiper-prev {
    top: 123px;
    @media screen and (max-width: 425px) {
      top: -54px;
    }
  }
  .l-blog__card-swiper-next {
    @media screen and (max-width: 425px) {
      left: unset;
      right: 0;
    }
  }
  .l-blog__card-swiper-prev {
    @media screen and (max-width: 425px) {
      right: 44px;
      left: unset;
    }
  }
}

.l-contacts__item {
  max-width: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.l-contacts__item-img {
  width: 330px;
  height: 272px;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.l-contacts__item-text {
  display: flex;
  gap: 16px;
  span {
    border-radius: 20px;
    background: #222;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    @media screen and (max-width: 425px) {
      flex-shrink: 0;
    }
  }
}

//map
.l-map {
  padding-top: 118px;
  background: #F5F5F7;
  img {
    width: 100%;
    height: 582px;
    object-fit: cover;
  }
}