.l-banner-card {
  margin-top: 20px;
}

.l-banner-card__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.l-banner-card__content {
  display: flex;
  align-items: center;
  gap: 32px;
  border-radius: 10px;
  background: #F5F5F7;
  padding: 50px 70px 60px 70px;
}

.l-banner-card__content-left {
}

.l-banner-card__content-label {
}

.l-banner-card__content-title {
  margin-top: 10px;
}

.l-banner-card__content-subtitle {
  margin-top: 10px;
  max-width: 480px;
}

.l-banner-card__content-checks {
  margin-top: 40px;
  max-width: 480px;
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    column-gap: 5px;
  }
  li {
    display: flex;
    gap: 15px;
  }
  svg {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
  }
}

.l-banner-card__content-action {
  display: flex;
  margin-top: 44px;
}

.l-banner-card__content-right {
}

.l-banner-card__content-img {
  width: 650px;
  height: 577px;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

//breadcrumbs 
.l-breadcrumbs {
  margin-top: 32px;
}

.l-breadcrumbs__content {
  ul {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  li {
    display: flex;
  }
  a {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  span {
    color: #888;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  svg {
    width: 15px;
    height: 15px;
  }
}

//page nav
.l-page-nav {
  margin-top: 44px;
  .l-products__nav {
    margin-top: 0;
    padding: 20px 0;
  }
  .l-products__nav-wrapper ul {
    gap: 70px;
  }
}

//advice cards golden
.l-advice-cards {
  margin-top: 90px;
}

.l-advice-cards__content {

}

.l-advice-cards__swiper {
  height: 160px;
  position: relative;
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide-next {
    .l-advice-cards__item {
      height: 160px;
    }
    .l-advice-cards__item-wrapper {
      height: 100%;
      padding-top: 30px;
    }
  }
  .gold-card {
    top: 64px;
  }
}

.l-advice-cards__item {
  border-radius: 5px;
  background: #BAA27E;
  height: 130px;
  transition: .4s;
}

.l-advice-cards__item-wrapper {
  display: flex;
  gap: 14px;
  padding: 20px;
}

.l-advice-cards__item-icon {
  svg {
    width: 29px;
    height: 29px;
  }
}

.l-advice-cards__item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.l-advice-cards__item-title {
  p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 121.523%; /* 21.874px */
  }
}

.l-advice-cards__item-subtitle {
  p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 121.523%; /* 17.013px */
  }
}

//big card
.l-big-complex {
  margin-top: 110px;
}

.l-big-complex__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.l-big-complex__content {
  padding: 84px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
  border-radius: 10px;
  background: #F5F5F7;
}

.l-big-complex__header {
  max-width: 712px;
  width: 100%;
}

.l-big-complex__header-title {
}

.l-big-complex__header-subtitle {
  margin-top: 20px;
  text-align: center;
}

.l-big-complex__body {
  position: relative;
  .l-complex__body-hidden-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.l-big-complex__body-img {
  width: 405px;
  height: 572px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.l-complex__body-hidden-row {
  display: flex;
  gap: 5px;
}

.l-complex__body-hidden-col {
  display: flex;
  flex-direction: column;
  p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  span {
    white-space: nowrap;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  &.italic {
    p,span {
      font-style: italic;
    }
  }
}

//prodcut
.l-product {
  margin-top: 119px;
}

.l-product__detail {
  margin-top: 75px;
}

.l-product__detail-wrapper {
  display: flex;
  justify-content: space-between;
}

.l-product__detail-left {
  margin-top: 37px;
}
.l-product__detail-title {

}

.l-product__detail-cards {
  margin-top: 54px;
  display: flex;
  gap: 15px;
}

.l-product__detail-card {
  border-radius: 10px;
  
  &.active {
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
  }
}

.l-product__detail-card--img {
  background: #F7F7F8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 173px;
  height: 173px;
  padding: 12px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.l-product__detail-card--name {
  padding: 6px 20px 10px 20px;
  display: flex;
  justify-content: center;

  color: #414141;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 155.023%; /* 24.804px */
  letter-spacing: -0.16px;
}

.l-product__detail-right {
}


.l-product__detail-right--img {
  display: block;
  max-width: 600px;
  width: 100%;
  height: 615px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &[hidden="true"] {
    display: none;
  }
}

.color {
  .l-product__detail-cards {
    margin-top: 64px;
    gap: 10px;
  }
  .l-product__detail-card.active {
    background: rgba(0,0,0,0);
    box-shadow: none;
    border-radius: 0;
    position: relative;
    ::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 80%;
      height: 1px;
      background: #414141;
    }
  }
  .l-product__detail-card--img {
    width: 110px;
    height: 60px;
    padding: 0;
    background: none;
  }
  .l-product__detail-card--name {
    padding: 5px 16px;
  }
}

.l-product__detail-cards--texts {
  margin-top: 47px;
  max-width: 450px;
}

.l-product__detail-cards--text.small {
  margin-top: 48px;
}

//blog 

.l-blog-2 {

}
.l-wrapper {
}
.l-blog-2__content {
  padding-top: 88px;
}
.l-complex__header {
}
.l-complex__header-title {
}

.l-complex__header-subtitle {
}

.l-blog-2__slider {
  margin-top: 43px;
  .swiper-wrapper {
    justify-content: space-between;
  }
  .swiper-slide {
    width: auto;
    flex-shrink: 0;
  }
}
.l-blog-2__item {
  max-width: 541px;
  width: 100%;
}
.l-blog-2__item-img {
  width: 541px;
  height: 596px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.l-blog-2__item-title {
  margin-top: 20px;
}

.l-blog-2__item-subtitle {
  margin-top: 20px;
}

//recommended
.l-recommended {
}

.l-recommended__content {
  padding-top: 150px;
}

.l-recommended__slider {
  margin-top: 72px;
  position: relative;
}

.l-recommended__item {

}

.l-recommended__item-img {
  width: 400px;
  height: 378px;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.l-recommended__item-title {
  margin-top: 20px;
}

.l-recommended__item-action {
  margin-top: 20px;
  display: flex;
}
