.l-banner-card {
  margin-top: 20px;
}

.l-banner-card__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  @media screen and (max-width: 425px) {
    padding: 0;
  }
}

.l-banner-card__content {
  display: flex;
  align-items: center;
  gap: 32px;
  border-radius: 10px;
  background: #F5F5F7;
  padding: 50px 70px 60px 70px;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    padding: 25px 35px 30px 35px;
    gap: 23px;
  }
  @media screen and (max-width: 425px) {
    padding: 19px 16px 37px 16px;
  }
}

.l-banner-card__content-left {
}

.l-banner-card__content-label {
}

.l-banner-card__content-title {
  margin-top: 10px;
  @media screen and (max-width: 425px) {
    .fs-42-700 {
      font-size: 28px;
      line-height: 114.182%; /* 31.971px */
    }
  }
}

.l-banner-card__content-subtitle {
  margin-top: 10px;
  max-width: 480px;
}

.l-banner-card__content-checks {
  margin-top: 40px;
  max-width: 480px;
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    column-gap: 5px;
    @media screen and (max-width: 425px) {
      display: flex;
      flex-direction: column;
    }
  }
  li {
    display: flex;
    gap: 15px;
  }
  svg {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
  }
}

.l-banner-card__content-action {
  display: flex;
  margin-top: 44px;
}

.l-banner-card__content-right {
}

.l-banner-card__content-img {
  width: 650px;
  height: 577px;
  border-radius: 5px;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    width: 450px;
    height: 500px;
  }
  @media screen and (max-width: 1024px) {
    width: 100%;
    height: 400px;
  }
  @media screen and (max-width: 425px) {
    width: 100%;
    height: 344px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

//breadcrumbs 
.l-breadcrumbs {
  margin-top: 32px;
  @media screen and (max-width: 425px) {
    display: none;
  }
}

.l-breadcrumbs__content {
  ul {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  li {
    display: flex;
  }
  a {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  span {
    color: #888;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  svg {
    width: 15px;
    height: 15px;
  }
}

//page nav
.l-page-nav {
  margin-top: 44px;
  background: rgba(255, 255, 255, 0.90);
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 10;
  .l-products__nav {
    margin-top: 0;
    padding: 20px 0;
    backdrop-filter: none;
    background: none;
    @media screen and (max-width: 425px) {
      padding: 14px 0;
    }
  }
  .l-products__nav-wrapper ul {
    gap: 70px;
    @media screen and (max-width: 1439px) {
      gap: 20px;
    }
    @media screen and (max-width: 425px) {
      gap: 50px;
    }
  }
  @media screen and (max-width: 425px) {
    margin-top: 22px;
  }
  .horizontal__scroll {
    @media screen and (max-width: 768px) {
      top: 0;
      right: 0;
    }
  }
  .horizontal__scroll.left {
    @media screen and (max-width: 768px) {
      left: 0;
      z-index: 3;
    }
  }
}

//advice cards golden
.l-advice-cards {
  margin-top: 90px;
  @media screen and (max-width: 768px) {
    margin-top: 26px;
    .l-blog__card-swiper-nav {
      display: none;
    }
  }
}

.l-advice-cards__content {

}

.l-advice-cards__swiper {
  height: 160px;
  position: relative;
  @media screen and (max-width: 768px) {
    height: auto;
  }
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide {
    @media screen and (max-width: 425px) {
      width: auto;
    }
  }
  .swiper-slide-next {
    .l-advice-cards__item {
      height: 160px;
      @media screen and (max-width: 768px) {
        height: 112px;
      }
    }
    .l-advice-cards__item-wrapper {
      height: 100%;
      padding-top: 37px;
      @media screen and (max-width: 768px) {
        padding: 20px;
      }
      @media screen and (max-width: 425px) {
        padding: 15px;
      }
    }
  }
  .gold-card {
    top: 64px;
  }
}

.l-advice-cards__item {
  border-radius: 5px;
  background: #BAA27E;
  height: 130px;
  transition: all .3s;
  @media screen and (max-width: 768px) {
    height: 112px;
  }
  @media screen and (max-width: 425px) {
    width: 200px;
  }
}

.l-advice-cards__item-wrapper {
  display: flex;
  gap: 14px;
  padding: 20px;
  @media screen and (max-width: 425px) {
    padding: 15px;
    gap: 5px;
  }
}

.l-advice-cards__item-icon {
  svg {
    width: 29px;
    height: 29px;
    @media screen and (max-width: 425px) {
      width: 17px;
      height: 17px;
    }
  }
  @media screen and (max-width: 425px) {
    position: absolute;
  }
}

.l-advice-cards__item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.l-advice-cards__item-title {
  @media screen and (max-width: 425px) {
    margin-left: 25px;
  }
  p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 121.523%; /* 21.874px */
    @media screen and (max-width: 425px) {
      font-size: 14px;
    }
  }
}

.l-advice-cards__item-subtitle {
  p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 121.523%; /* 17.013px */
    @media screen and (max-width: 425px) {
      font-size: 12px;
    }
  }
}

//big card
.l-big-complex {
  margin-top: 110px;
  @media screen and (max-width: 768px) {
    margin-top: 35px;
    .l-complex__body-dot {
      width: 20px;
      height: 20px;
    }
  }
  .l-complex__body-dot a:not(.btn)::after {
    animation: 4s infinite pulse;
  }
}

.l-big-complex__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  @media screen and (max-width: 768px) {
    padding: 0 16px;
  }
}

.l-big-complex__content {
  padding: 84px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
  border-radius: 10px;
  background: #F5F5F7;
  @media screen and (max-width: 768px) {
    padding: 50px 0 60px 0;
    gap: 38px;
  }
}

.l-big-complex__header {
  max-width: 712px;
  width: 100%;
}

.l-big-complex__header-title {
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.l-big-complex__header-subtitle {
  margin-top: 20px;
  text-align: center;
  @media screen and (max-width: 425px) {
    padding: 0 5px;
  }
}

.l-big-complex__body {
  position: relative;
  .l-complex__body-hidden-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.l-big-complex__body-img {
  width: 405px;
  height: 572px;
  @media screen and (max-width: 425px) {
    width: 275px;
    height: 388px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.l-complex__body-hidden-row {
  display: flex;
  gap: 5px;
}

.l-complex__body-hidden-col {
  display: flex;
  flex-direction: column;
  p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  span {
    white-space: nowrap;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  &.italic {
    p,span {
      font-style: italic;
    }
  }
  @media screen and (max-width: 425px) {
    p {
      font-size: 12px;
      line-height: normal;
    }
    span {
      font-size: 12px;
      line-height: normal;
    }
  }
}

//prodcut
.l-product {
  margin-top: 119px;
  @media screen and (max-width: 768px) {
    margin-top: 35px;
  }
}

.l-product__detail {
  margin-top: 75px;
  @media screen and (max-width: 768px) {
    margin-top: 35px;
  }
}

.l-product__detail-wrapper {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 35px;
  }
}

.l-product__detail-left {
  margin-top: 37px;
  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
}
.l-product__detail-title {

}

.l-product__detail-cards {
  margin-top: 54px;
  display: flex;
  gap: 15px;
  @media screen and (max-width: 768px) {
    margin-top: 48px;
    // overflow: auto;
  }
}

.l-product__detail-card {
  border-radius: 10px;
  transition: .2s;
  &:hover {
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
  }
  &.active {
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
  }
}

.l-product__detail-card--img {
  background: #F7F7F8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 173px;
  height: 173px;
  padding: 12px;
  @media screen and (max-width: 425px) {
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.color {
  .l-product__detail-card--name {
    color: #414141;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 155.023%; /* 18.603px */
    letter-spacing: -0.12px;
  }
}

.l-product__detail-card--name {
  padding: 6px 20px 10px 20px;
  display: flex;
  justify-content: center;

  color: #414141;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 155.023%; /* 24.804px */
  letter-spacing: -0.16px;
}

.types {
  .l-product__detail-left {
    position: relative;
  }
  .l-product__detail-cards--text.small {
    margin-top: 0;
    position: absolute;
    bottom: 46px;
    left: 0;
    @media screen and (max-width: 768px) {
      position: static;
      margin-top: 35px;
    }
  }
  .unique {
    .swiper {
      margin: 0;
      width: 100%;
    }
    .swiper-slide {
      width: auto;
    }
  }
  .l-product__detail-card {
    width: 141px;
    height: 90px;
    border-radius: 10px;
    border: 1px solid #A5A5A5;
    background: #FFF;
    a {
      display: flex;
      height: 100%;
      justify-content: center;
    }
    &.active {
      border: 1px solid #000;
    }
    .l-product__detail-card--name {
      padding: 20px;
      @media screen and (max-width: 768px) {
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 155.023%; /* 18.603px */
        letter-spacing: -0.12px;
        white-space: normal;
        padding: 10px 0;
      }
    }
    @media screen and (max-width: 768px) {
      width: auto;
      height: 73px;
    }
  }
  .unique {
    max-width: 460px;
    position: relative;
  }
  .l-blog__card-swiper-next {
    top: 22px;
    right: -55px;
    @media screen and (max-width: 768px) {
      top: 80px;
      left: 44px;
    }
    &.swiper-button-disabled {
      display: none;
    }
  }
  .l-blog__card-swiper-prev {
    top: 22px;
    left: -55px;
    @media screen and (max-width: 768px) {
      top: 80px;
      left: 0;
    }
    &.swiper-button-disabled {
      display: none;
    }
  }
}

.l-product__detail-right {
}


.l-product__detail-right--img {
  display: block;
  max-width: 600px;
  width: 100%;
  height: 615px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &[hidden="true"] {
    display: none;
  }
  @media screen and (max-width: 768px) {
    max-width: unset;
  }
  @media screen and (max-width: 425px) {
    height: 400px;
  }
}
.l-product__detail-card--name {
  position: relative;
}
.color {
  .l-product__detail-cards {
    margin-top: 64px;
    gap: 10px;
    @media screen and (max-width: 768px) {
      margin-top: 48px;
      overflow: auto;
    }
    &.unique-color {
      max-width: 590px;
      position: relative;
      .l-blog__card-swiper-next {
        top: 8px;
        &.swiper-button-disabled {
          display: none;
        }
      }
      .l-blog__card-swiper-prev {
        top: 8px;
        &.swiper-button-disabled {
          display: none;
        }
      }
      .swiper {
        margin: 0;
      }
      .swiper-slide {
        width: auto;
      }
      @media screen and (max-width: 1024px) {
        max-width: 350px;
      }
      @media screen and (max-width: 768px) {
        max-width: unset;
        overflow: unset;
        .l-blog__card-swiper-next {
          display: flex;
          top: 100px;
          left: 44px;
          right: unset;
          bottom: unset;
          &.swiper-button-lock {
            display: none;
          }
        }
        .l-blog__card-swiper-prev {
          display: flex;
          top: 100px;
          left: 0;
          right: unset;
          bottom: unset;
          &.swiper-button-lock {
            display: none;
          }
        }
      }
    }
  }
  .l-product__detail-card.active {
    background: rgba(0,0,0,0);
    box-shadow: none;
    border-radius: 0;
    position: relative;
    
    .l-product__detail-card--name::after {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 75%;
      height: 1px;
      background: #414141;
    }
  }
  .l-product__detail-card:hover {
    background: rgba(0,0,0,0);
    box-shadow: none;
    border-radius: 0;
    position: relative;
    .l-product__detail-card--name::after {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 75%;
      height: 1px;
      background: #414141;
    }
  }
  .l-product__detail-card--img {
    width: 110px;
    height: 60px;
    padding: 0;
    background: none;
  }
  .l-product__detail-card--name {
    padding: 5px 0;
    max-width: 110px;
  }
}

.l-product__detail-cards--texts {
  margin-top: 47px;
  max-width: 441px;
  @media screen and (max-width: 768px) {
    margin-top: 60px;
  }
}

.l-product__detail-cards--text.small {
  margin-top: 48px;
  @media screen and (max-width: 768px) {
    margin-top: 35px;
  }
}

//blog 

.l-blog-2 {

}
.l-wrapper {
}
.l-blog-2__content {
  padding-top: 88px;
  @media screen and (max-width: 425px) {
    padding-top: 54px;
  }
}
.l-complex__header {
}
.l-complex__header-title {
}

.l-complex__header-subtitle {
}

.l-blog-2__slider {
  margin-top: 43px;
  display: flex;
  justify-content: center;
  gap: 108px;
  @media screen and (max-width: 1439px) {
    gap: 70px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 35px;
  }
}
.l-blog-2__item {
  max-width: 541px;
  width: 100%;
  @media screen and (max-width: 768px) {
    max-width: unset;
  }
}
.l-blog-2__item-img {
  width: 541px;
  height: 596px;
  @media screen and (max-width: 1200px) {
    width: 100%;
    height: 450px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.l-blog-2__item-title {
  margin-top: 20px;
}

.l-blog-2__item-subtitle {
  margin-top: 20px;
}

//recommended
.l-recommended {
}

.l-recommended__content {
  padding-top: 150px;
  @media screen and (max-width: 425px) {
    padding-top: 55px;
  }
}

.l-recommended__slider {
  margin-top: 72px;
  position: relative;
  @media screen and (max-width: 768px) {
    margin-top: 35px;
    .l-blog__card-swiper-prev {
      left: unset;
      right: 44px;
      top: -70px;
    }
    .l-blog__card-swiper-next {
      left: unset;
      right: 0;
      top: -70px;
    }
  }
}

.l-recommended__item {

}

.l-recommended__item-img {
  width: 400px;
  height: 378px;
  border-radius: 5px;
  overflow: hidden;
  @media screen and (max-width: 1439px) {
    width: auto;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.l-recommended__item-title {
  margin-top: 20px;
}

.l-recommended__item-action {
  margin-top: 20px;
  display: flex;
}
