.text-white {
  color: #FFF;
}

.text-black {
  color: #000000;
}

.text-gray {
  color: #888;
}

.text-dark-gray {
  color: #414141;
}

.fs-42-700 {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

.fs-32-700 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fs-24-700 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 155.023%;
}

.fs-20-700 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.023%;
}

.fs-20-600 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 121.523%;
}

.fs-16-600 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.fs-16-400 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fs-16-300 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.fs-14-400 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.023%;
}