*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'OpenSans';
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

html,
body {
	min-height: 100%;
	position: relative;
}

body {
	font-size: 1rem;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	list-style: none;
}

button, input {
	border: none;
	outline: none;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #000000;
	@media screen and (max-width: 425px) {
		white-space: nowrap;
	}
}

.l-wrapper {
	max-width: 1440px;
	width: 100%;
	padding: 0 100px;
	margin: 0 auto;
	@media screen and (max-width: 425px) {
		padding: 0 16px;
	}
}

.btn {
	display: flex;
	padding: 12px 25px;
	gap: 10px;
	border-radius: 5px;

	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.32px;
	transition: .2s;
	&.btn-blue {
		color: #FFFFFF;
		background: #328BDC;
		&:hover {
			background: #56a2e9;
		}
	}
	&.btn-black {
		color: #FFFFFF;
		background: #222;
		&:hover {
			background: rgb(66, 66, 66);
		}
	}
	
}

.input {
	padding: 14px 22px;
	border-radius: 5px;
	background: #FFF;
	color: #414141;
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	line-height: 155.023%; /* 32.555px */
	letter-spacing: -0.21px;
}

::selection {
	background: #5DB9ED;
	color: #FFF;
}
::-moz-selection {
	background: #5DB9ED;
	color: #FFF;
}