<footer class="footer">
  <div class="l-mob-footer__nav">
    <div class="l-mob-footer__nav-wrapper">
      <div class="l-mob-footer__nav-item">
        <a href="#">
          <svg>
            <use xlink:href="img/sprite.svg#sprite--calc-mob" />
          </svg>
          Рассчитать
        </a>
      </div>
      <div class="l-mob-footer__nav-item">
        <a href="#" id="openAdressesModalButton">
          <svg>
            <use xlink:href="img/sprite.svg#sprite--loca-mob" />
          </svg>
          Шоу-румы
        </a>
      </div>
      <div class="l-mob-footer__nav-item">
        <a href="#" id="openModalButton">
          <svg>
            <use xlink:href="img/sprite.svg#sprite--tel-mob" />
          </svg>
          Звонок
        </a>
      </div>
      <div class="l-mob-footer__nav-item">
        <a href="#" id="openSearchModalButton">
          <svg>
            <use xlink:href="img/sprite.svg#sprite--search-mob" />
          </svg>
          Поиск
        </a>
      </div>
    </div>
  </div>
</footer>

<div id="callMemModalMob" class="modal-container">
  <div class="modal-content">
    <div class="l-mob-modal__content">
      <button id="closeModalButton">
        <div class="rec"></div>
      </button>
      <div class="l-mob-modal__info">
        <p class="title">Телефон</p>
        <a class="tel" href="tel: +7 (495) 154-07-85">+7 (495) 154-07-85</a>
        <p class="time">Пн-Пт: 9:00-18:00</p>
      </div>
    </div>
    <div class="l-mob-modal__form">
      <div class="l-modal__form-title">
        <h2 class="fs-32-700">Заказать обратный звонок</h2>
      </div>
      <div class="l-modal__form-subtitle">
        <h4 class="fs-16-300">Оставьте свой номер и мы перезвоним вам </h4>
      </div>
      <div class="l-modal__form-input">
        <input name="tel" type="text" class="input" placeholder="+7 (___) ___-__-__">
      </div>
      <div class="l-modal__form-select-actions">
        <input type="radio" name="time" id="time-now--mob" checked>
        <label for="time-now--mob">
          <span>Сейчас</span>
        </label>
        <input type="radio" name="time" id="time-exactly--mob">
        <label for="time-exactly--mob">
          <span>Точное время</span>
        </label>
        <select name="time" id="">
          <option value="9:00" selected>9:00</option>
          <option value="9:30">9:30</option>
          <option value="10:00">10:00</option>
          <option value="10:30">10:30</option>
          <option value="11:00">11:00</option>
        </select>
      </div>
      <div class="l-modal__form-action">
        <a class="btn btn-black fs-16-600" href="#">Заказать звонок</a>
      </div>
    </div>
  </div>
</div>

<div id="searchModalMob" class="modal-container">
  <div class="modal-content">
    <div class="l-mob-modal__content">
      <button id="closeSearchModalButton">
        <div class="rec"></div>
      </button>
      <div class="l-mob-modal__header">
        <div class="l-modal__form-title">
          <h2 class="fs-32-700">Поиск</h2>
        </div>
      </div>
    </div>
    <div class="l-mob-modal__form">
      <div class="l-modal__form-input">
        <label for="search">
          <svg>
            <use xlink:href="img/sprite.svg#sprite--search-mob" />
          </svg>
        </label>
        <input name="q" type="text" class="input" id="search" placeholder="Поиск по сайту">
        <a href="#" class="clear">
          <svg>
            <use xlink:href="img/sprite.svg#sprite--search-mob-clear" />
          </svg>
        </a>
      </div>
      <div class="l-modal__form-action">
        <a class="btn btn-black fs-16-600" href="#">Искать</a>
      </div>
    </div>
  </div>
</div>

<div id="adressesModalMob" class="modal-container">
  <div class="modal-content">
    <div class="l-mob-modal__content">
      <button id="closeAdressesModalButton">
        <div class="rec"></div>
      </button>
      <div class="l-mob-modal__header">
        <div class="l-modal__form-title">
          <div class="arrow">
            <svg>
              <use xlink:href="img/sprite.svg#sprite--alfa24_arrow" />
            </svg>
          </div>
          <h2 class="fs-32-700">Адреса шоу-румов</h2>
        </div>
      </div>
    </div>
    <div class="l-mob-modal__addresses">
      <div class="l-contacts__item">
        <div class="l-contacts__item-img">
          <img src="./img/contacts-1.webp" alt="">
        </div>
        <div class="l-contacts__item-text">
          <span>1</span>
          <a href="#" class="fs-16-400 text-dark-gray">
            Москва, БЦ Водный, <br>
            Головинское шоссе 5а
          </a>
        </div>
      </div>
      <div class="l-contacts__item">
        <div class="l-contacts__item-img">
          <img src="./img/contacts-2.webp" alt="">
        </div>
        <div class="l-contacts__item-text">
          <span>2</span>
          <a href="#" class="fs-16-400 text-dark-gray">
            ARTPLAY, <br>
            Нижняя Сыромятническая ул.10,стр.3
          </a>
        </div>
      </div>
      <div class="l-contacts__item">
        <div class="l-contacts__item-img">
          <img src="./img/contacts-3.webp" alt="">
        </div>
        <div class="l-contacts__item-text">
          <span>3</span>
          <a href="#" class="fs-16-400 text-dark-gray">
            Мытищи, <br>
            3-я крестьянская, с 23
          </a>
        </div>
      </div>
      <div class="l-contacts__item">
        <div class="l-contacts__item-img">
          <img src="./img/contacts-4.webp" alt="">
        </div>
        <div class="l-contacts__item-text">
          <span>4</span>
          <a href="#" class="fs-16-400 text-dark-gray">
            МО, Ленинский р-н, <br>
            пос Развилка, вл 8, оф 35
          </a>
        </div>
      </div>
    </div>
  </div>
</div>