<div id="pr-@@id" class="l-products__item @@revert">
  <div class="l-products__item-wrapper">
    <div class="l-products__item-content">
      <div class="l-products__item-name">
        <p class="fs-32-700">@@name</p>
      </div>
      <div class="l-products__item-description">
        <p class="fs-16-400">@@descr</p>
      </div>
      <div class="l-products__item-action">
        <a href="#" class="btn btn-blue fs-16-600">Подробнее</a>
      </div>
    </div>
    <div class="l-products__item-image">
      <img src="/img/pr-@@id.webp" alt="">
    </div>
  </div>
</div>